h1 
{
    background-color: lightsteelblue;
    padding: 30px;
    border-color: silver;
    border-radius: 15px;
    text-align: center;
    text-shadow: 0cap;
}
.
ol
{
    text-align: center;
}

h2
{
    text-align: center;
}

h3
{
    text-align: center;
}

p
{
    text-align: center;
}

p1
{
    text-decoration: color(from color srgb r g b);
    text-decoration: dotted;
}
